<div class="menu">
    <% if(loggedIn && loggedIn.username){ %>
        <div class="menu-item"><a href="/inbox">Inbox</a></div>
        <div class="menu-item"><a href="/users">Users</a></div>
        <div class="menu-item"><a href="#" onclick="logout()">Logout</a></div>
        <% }else{ %>
            <div class="menu-item"><a href="/">Login</a></div>
            <% } %>
</div>
<script>
    const logotToast = Toastify({
        text: "You are Logout!",
        duration: 1000
    });
    function logout() {
        fetch('/', {
            method: "DELETE"
        });
        logotToast.showToast();
        setTimeout(() => {
            window.location.replace("/");
        }, 1200);
    }
</script>